version: "3.9"

services:
  api:
    build: .
    command: uvicorn agent_app.api.fastapi_app:app --host 0.0.0.0 --port 8080
    ports:
      - "8080:8080"
    depends_on:
      - ollama

  ui:
    build: .
    command: streamlit run agent_app/ui/streamlit_app.py --server.port=8501
    ports:
      - "8501:8501"
    depends_on:
      - api

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  prometheus:
    image: prom/prometheus
    volumes:
      - ./observability/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

volumes:
  ollama_data:
